body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
}

.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

.card {
  background: #1e1e1e;
  padding: 25px;
  border-radius: 15px;
  width: 420px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
  color: white;
}

h1 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  background: #00c853;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background: #00e676;
}

/* Map fix */
.leaflet-container {
  height: 300px;
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: white;
  font-size: 18px;
}

.loader {
  border: 5px solid #444;
  border-top: 5px solid #1db954;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}